RewriteEngine On

# Jangan mengarahkan request jika file atau direktori fisik ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]
